/* || GENERAL STYLES || */

body {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 15px 0;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

blockquote {
    border-left: 4px solid #ccc;
    margin: 20px 0;
    padding-left: 15px;
    color: #666;
    font-style: italic;
}

/* || UTILITIES || */

/* SITEWIDE */

/* || STORE PAGES || */
